body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rounded {
  border-top: 3px solid #bbb;
  border-radius: 5px;
  width: 90%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 250px;
  margin: 10px;
  padding: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-box {
  padding: 2px 16px;
}

.card-logo {
  width: 100px;
}

.book-container {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.add-new-button {
  background-color: #6495ED;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px;
}

.add-new-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}